{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <h1>Every tool you need to work with PDFs in one place</h1>
    <p>Every tool you need to use PDFs, at your fingertips. All 100% FREE and easy to use!</p>
</section>

<div class="tools-grid">
    {% for key, tool in tools.items %}
    <a href="/tool/{{ key }}/" class="card">
        <i class="fa-solid {{ tool.icon }} tool-icon"></i>
        <h3>{{ tool.title }}</h3>
        <p>{{ tool.desc }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
